<div class="grid">
	<div class="unit whole about">
		<p>
			{% if site.about_image %}
				<img src="/img/{{ site.about_image }}" alt="Avatar">
			{% elsif site.links.github %}
				<img src="https://github.com/{{ site.links.github }}.png" alt="Avatar">
			{% else %}
				<img src="/img/placeholder.jpg" alt="Avatar">
			{% endif %}
		</p>
		<ul class="links">
			{% if site.links.github %}
				<li><a href="https://github.com/{{ site.links.github }}" target="_blank">Github</a></li>
			{% endif %}
			{% if site.links.twitter %}
				<li><a href="https://twitter.com/{{ site.links.twitter }}" target="_blank">Twitter</a></li>
			{% endif %}
			{% if site.links.facebook %}
				<li><a href="https://www.facebook.com/{{ site.links.facebook }}" target="_blank">Facebook</a></li>
			{% endif %}
			{% if site.links.email %}
				<li><a href="mailto:{{ site.links.email }}">Contact Me</a></li>
			{% endif %}
		</ul>
	</div>
</div>