---
layout: default
---
<div class="content post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </div>
  {{ content }}
</div>
<footer>
  <hr>
    <p>
        My blog is hosted on <a href="http://github.com/parsonsmatt/parsonsmatt.github.io">GitHub</a>. If you'd like to leave a comment, report a problem, or contact me, then that's a fine place to do so.
    </p>
    <p>
        <ul>
            <li><a href="/">The rest of my posts</a></li>
            <li><a href="/tutorials">My tutorials</a></li>
            <li><a href="/production-haskell">Check out my book - "Production Haskell"!</a></li>

            <li><a href="https://www.paypal.me/thanksforblogging">Want to thank me for my posts?</a></li>
        </ul>
    </p>
</footer>
